/* ==================== */
/* Estilos generales */
/* ==================== */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
}
 

h2 {
    color: #34495e;
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.3rem;
}

section {
    background: white;
    border-radius: 8px;
    padding: 1rem 1.2rem;
    margin-bottom: 1.8rem;
    box-shadow: o 2px 6px rgba(0 0 0 / 0.1);
}

/* ==================== */
/*    Ejecicios         */
/* ==================== */
    
button {
    background-color:  #3498db;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover:not(.disabled) {
    background-color: #2980b9;
}

button:disabled{
    background-color: #95a5a6;
    cursor: not-allowed;
}

.caja {
    width: 150px;
    height: 100px;
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease;
}

/* para el ejercicio 5 */
#seccionDobleClick {
    cursor: pointer;
    user-select: none;
    padding: 1rem;
    border: 2px dashed #9b5de5;
    text-align: center;
    background-color: 8px;
    transition: background-color 0.4s ease;
}

/*  Input estilo*/
input[type="text"], select {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    width: 250px;
    max-width: 100% ;
    margin-top: 0.5rem;
}

  /* Mesajes */
  #mensajeTexto,
  #teclaMostrada,
  #mensajeEmail,
  #temporizador,
  #contador,
  #ColorSeleccionado,
  #mensajeScroll,
  #tamañoVentana,
  #mensajeForm {
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.scrollMensaje {
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    background-color: #2ecc71;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 0 0 8px 8px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Imegen hover */
#imagenHover {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease;
    cursor: pointer;
}

#imagenHover:hover {
    filter: brightness(85%);
}

/* Formulario validacion*/
.form {
    margin-top: 0.5rem;
}

button:disabled {
    background-color: #aaa;
    opacity: 0.5;
    cursor: not-allowed;
}